These files were built on an iMac (Retina 5K, 27-inch, 2017) 
    with  Intel 64x (i5)
    
Using:
Xcode Version 14.2 (14C18)

You will need Xcode 14.2
You will need Matlab 2017b

However, other combinations of versions of Matlab and Xcode
    might work.

Note: Github and file exchange contains same files, except:
      The shared library files or the mex files are only available from Github.


    Note: Using libsysum.dylib guy is not working when copied to
          a new x64 iMac for some reason I don't yet understand.
    Therefore:  I am including my Mex versions of the same functions
          which has been demonstrated to work when copied from my Github account.



IF USING libdysum.dylib

    Do following

I prefer the dylib method, because it is simpler to use and maintain.
    But it does not always work when dylib copied to a new iMac.

    Copy
        libdysum.h
        test*.m (test and example files)
        To your Matlab working directory on your iMac


     GitHub Files to copy:

         libdysum.dylib is available from GitHub
         From:
         browndone1/db_git_imac_x64_integer_sum
         
         Then recopy dylib guy to your Matlab working directory on your iMac.

IF using my Mex files (RECOMMENDED for now)
   
     Copy. (From GitHub)
         test*.m files
         mex/*.*. to your Matlab working folder

Note: testdySumInt16.m will work for either mex or dylib file.
      Just edit each test*.m type file: Change USE_MEX logical to select which one you want to use.
      They are downloaded with USE_MEX enabled for use with the mex files.




Note: When downloading txt file or m files from GitHub
      First select file, then when open select   'raw'.
      Then when open again, right click and select save as.


To check dylib for virus, you can run:

    objdump -D -C libdysum.dylib

  To see assembly code for each routine in libdysum.dylib
  Which basically consists of a single add using
      ie 
         addq
         addl
  instructions to do the x64 register integer math
  With overflow enabled.
        
The test m files, which will explain
 about register math vs Matlab math.

These m files also demonstrate how to call
 The functions in libdysum.dylib or in the ex files.




